{% extends 'base.html.twig' %}
{% block title %}web cars{% endblock %}

{% block body %}



    <div class="jumbotron">
        <img src="{{ asset('images/background.jpg') }}" alt="Ảnh bìa lớn" style="max-height: 950px; padding-left: 100px; padding-right: 100px;" >
    </div>
    <main>
        <div class="container">
            <h1>Sản phẩm</h1>
            <div class="row">
                {% for car in cars %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ car.namecar }}</h5>
                                <p class="card-text"><strong>Giá: {{ car.price }}$</strong></p>
                                <a href="{{ path('view_car', {'id': car.id}) }}">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>






{% endblock %}