{% extends 'base.html.twig' %}

{% block body %}
    <h1>car Details</h1>
    <p><strong>Name:</strong> {{ car.namecar }}</p>
    <p><strong>Price:</strong> {{ car.price }}</p>
    <a href="{{ path('car_list') }}">Back to car List</a>
{% endblock %}